{
    "parser": "@babel/eslint-parser",
    "extends":["airbnb-base"],
    "plugins":["prettier"],
    "rules":{
      /* eslint-disable no-console */
      "no-console":"off",
      "prettier/prettier":["error"]
    },
    "env": {
      "es6": true,
      "node": true,
      "browser": true
    },
    "settings": {"import/resolver":{"babel-module":{}}
  }
  }